<div class="row-layout group">
  <div class="column-layout group_1">
    <p class="ig-typography__subtitle-2 text">
      INDICADORES
    </p>
    <div class="row-layout group_2">
      <div class="column-layout group_3">
        <div class="column-layout group_4">
          <div class="row-layout group_5">
            <img src="/assets/BPressure_Color.svg" alt="" class="image" />
            <div class="row-layout group_6">
              <p class="ig-typography__subtitle-2 text_1">
                HORAS DE TRABAJO
              </p>
              <h6 class="h6">
                200
              </h6>
              <p class="ig-typography__subtitle-2 text_2">
                H
              </p>
            </div>
          </div>
          <div class="column-layout group_7">
            <igx-category-chart [dataSource]="patientDashboardWeight" chartType="column" [yAxisInterval]="10" [yAxisMinimumValue]="95" [yAxisMaximumValue]="125" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
          </div>
        </div>
      </div>
      <div class="column-layout group_3">
        <div class="column-layout group_8">
          <div class="row-layout group_5">
            <img src="/assets/1.png" alt="" class="image" />
            <div class="row-layout group_6">
              <p class="ig-typography__subtitle-2 text_1">
                RPM
              </p>
              <h6 class="h6">
                1000
              </h6>
              <h6 class="h6_1">
                /
              </h6>
              <p class="ig-typography__subtitle-2 text_2">
                RPM
              </p>
            </div>
          </div>
          <div class="column-layout group_7">
            <igx-category-chart [dataSource]="patientDashboardBPSystolicDiastolic" chartType="line" [yAxisInterval]="20" [yAxisMinimumValue]="70" [yAxisMaximumValue]="160" computedPlotAreaMarginMode="series" class="category-chart_1"></igx-category-chart>
          </div>
        </div>
      </div>
      <div class="column-layout group_3">
        <div class="column-layout group_8">
          <div class="row-layout group_5">
            <img src="/assets/2.png" alt="" class="image" />
            <div class="row-layout group_6">
              <p class="ig-typography__subtitle-2 text_1">
                PRESIÓN DE ACEITE
              </p>
              <h6 class="h6">
                50
              </h6>
              <p class="ig-typography__subtitle-2 text_2">
                PSI
              </p>
            </div>
          </div>
          <div class="column-layout group_7">
            <igx-category-chart [dataSource]="patientDashboardTotalCholesterol" chartType="area" [yAxisInterval]="20" [yAxisMinimumValue]="160" [yAxisMaximumValue]="230" computedPlotAreaMarginMode="series" class="category-chart_2"></igx-category-chart>
          </div>
        </div>
        <div class="column-layout group_8">
          <div class="row-layout group_5">
            <img src="/assets/3.png" alt="" class="image" />
            <div class="row-layout group_6">
              <p class="ig-typography__subtitle-2 text_1">
                TEMPERATURA
              </p>
              <h6 class="h6_2">
                100
              </h6>
              <p class="ig-typography__subtitle-2 text_2">
                /°C
              </p>
            </div>
          </div>
          <div class="column-layout group_7">
            <igx-category-chart [dataSource]="patientDashboardCholesterolHDLLDL" chartType="spline" [yAxisInterval]="20" [yAxisMinimumValue]="50" [yAxisMaximumValue]="150" computedPlotAreaMarginMode="series" class="category-chart_3"></igx-category-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
